.sidebar {
  background-color: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 80px 0 0 2%;
}

.shortcut-links img {
  width: 20px;
  margin-right: 20px;
}

.side-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  cursor: pointer;
  flex-wrap: wrap;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 85%;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}

.subscribed-list img {
  width: 25px;
  margin-right: 20px;
  border-radius: 50%;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar p {
  display: none;
}

.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}
